<!DOCTYPE html>
<html>
<head>
	<title>about us</title>
	<link rel="stylesheet" type="text/css" href="aboutus.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.css">
</head>
<body>
	<div class="body">
	
	<nav class="navbar navbar-dark bg-transparent">
		<div id="navbar">
		
		<div class="topnav">
    	<h1 style="display: inline-flex;"><i class="fab fa-fonticons-fi"></i></h1>
    	<h2 style="display: inline-flex; margin-left: 8px; margin-bottom: 0px;"><b>Fashion India</b></h2>
    	</div>
    	
    	<div class="topnav1" style="float: left;">
    	<p>Your one-stop fashion destination...</p>
    	</div>


    
  </div>  	
</nav>



	<nav class="navbar navbar-expand-sm bg-dark " id="nav2">
	<ul class="navbar-nav" id="nav1">
	<li class="nav-item">
	<a class="nav-link" href="#"><i class="fas fa-home"></i></a>
	</li>	
    <li class="nav-item">
      <a class="nav-link" href="#">Explore Categories</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Best Deals Today</a>
    </li>
    
  </ul>
  <form class="form-inline my-2 my-lg-0" id="search">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" style="margin-left: 200px; width: 400px;">

      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>


    <div class="cart">
    <ul class="navbar-nav">
    	<a href="#" style="text-decoration: none;"><li id="cart1"><span><i class="fas fa-shopping-cart"></i></span>View Cart</li></a>
    	
    </ul>
    </div>

	</nav>

<div id="about">
	<p> About Us...</p>

The clothing and fashion industry calls for an eye-catching, trendy and stunning online presence. Our website fulfils the same. 
Glen is an online fashion store with a sassy and irreverent style and attitude. The e-commerce site sells sarees, dresses, jeans, jackets, shirts, kurtis, trousers, watches, belts, bags, shoes and accessories from Indian and international designers.
Its homepage stands out for its simple, chic and minimalistic design. The members who have signed up for the website will get exclusive discounts, free delivery and other membership benefits just at 1000 rupees per year.<br>
Each product page displays:<br>
1.	Multiple high-quality images of the products.<br>
2.	A product description.<br>
3.	Size guide.<br>
4.	Payment options.<br>
Shoppers can also view details about each product, read customer reviews and view related products.


</div>

</div>
</body>










<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>