<!DOCTYPE html>
<html>
<head>
	<title>Buy Now</title>
	<link rel="stylesheet" type="text/css" href="web_tech_1_css.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.css">
	<link rel="stylesheet" type="text/css" href="buynow.css">
</head>
<body>

	<nav class="navbar navbar-dark bg-transparent">
		<div id="navbar">
		
		<div class="topnav">
    	<h1 style="display: inline-flex;"><i class="fab fa-fonticons-fi"></i></h1>
    	<h2 style="display: inline-flex; margin-left: 8px; margin-bottom: 0px;"><b>Fashion India</b></h2>
    	</div>
		    	
    	<div class="topnav1" style="float: left;">
    	<p>Your one-stop fashion destination...</p>
    	</div>


    
  		</div>  	
	</nav>

	<nav class="navbar navbar-expand-sm bg-dark " id="nav2">
		

		<ul class="navbar-nav" id="nav1">

			<li class="nav-item">
			<a class="nav-link" href="/web_tech_1.html"><i class="fas fa-home"></i></a>
			</li>

			<li class="dropdown"><a href="#" class="nav-link dropdown-toggle" data-toggle="	dropdown">Explore Categories</a>
        		<ul class="dropdown-menu" role="menu" style="background-color: grey;">
        		<a class="dropdown-item" href="/mensfashion.html" style="height: 35px;">Men's Fashion</a>
      			<a class="dropdown-item" href="/womensfashion.html" style="height: 35px;">Women's Fashion</a>
      			<a class="dropdown-item" href="/childrensfashion.html" style="height: 
      			5px;	">Children's Fashion</a>
	       		<a class="dropdown-item" href="/beauty.html" style="height: 35px;">Beauty/Cosmetics</a>
      			<a class="dropdown-item" href="/health.html" style="height: 35px;">Health and Fitness</a>
            	</ul>
        	</li>

    		<li class="nav-item">
      			<a class="nav-link" href="#">Best Deals Today</a>
    		</li>
    	</ul>
  		<form class="form-inline my-2 my-lg-0" id="search">
      		<input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" style="margin-left: 200px; width: 400px;">

		    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    	</form>


    	<div class="cart">
   	 		<ul class="navbar-nav">
    		<a href="#" style="text-decoration: none;"><li id="cart1"><span><i class="fas fa-shopping-cart"></i></span>View Cart</li></a>
    	
    		</ul>
    	</div>
    </nav>

    <div id="prod_block">
    	<img src="https://www.prodirectsoccer.com/productimages/V3_1_Main/208550_Main_Thumb_0560701.jpg" id="prod_img">

    </div>
    <div id="prod-details">
    	<p style="font-size: 35px;">Nike Mercurial XII<p>
    	<p style="font-size: 25px;font-family: Century Gothic">Rs. 1750  (30%off)</p>
    	<p style="">Delivery by next 3-4 working days</p><br>
    	<a href="#" class="btn btn-primary" style="font-size: 15px">Confirm and Pay</a>

    </div>



	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>

	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"crossorigin="anonymous"></script>
</body>
</html>